# ignore config.json
config.json

# ignore sdk and x64 folders
# ignore sdk and x64 folders
sdk/CHANGELOG.md
sdk/OSS-LICENSE.pdf
x64/
x86/
.vs/


Debug

#ignore media files
#*.pcm
#*.wav
*.yuv
#*.mp4
/MSDK_RawDataDemos.sln
